/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: "PressStart2P";
  src: url("../fonts/PressStart2P-Regular.woff2") format("woff2"),
    url("../fonts/PressStart2P-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Variable.woff2") format("woff2-variations"),
    url("../fonts/Inter-Variable.woff2") format('woff2 supports variations'),
    url("../fonts/Inter-Variable.woff") format("woff");
  font-weight: 400 785; /* Диапазон весов: от тонкого до очень жирного */
  font-display: swap;
}
