/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

* {
  box-sizing: border-box;
}
img {
  width: clamp(62px, 100%, 700px);
}
.filter-sepia {
  filter: sepia(0.8);
}
.filter-grayscale {
  filter: grayscale(0.95);
}
.filter-brightness {
  filter: brightness(1.4);
}
.filter-saturate {
  filter: saturate(2.2);
}
.filter-hue-rotate {
  filter: hue-rotate(120deg);
}
.filter-invert {
  filter: invert(0.85);
}
.filter-multiple {
  filter: sepia(0.6) saturate(1.8) brightness(0.9) contrast(1.3);
}
.page {
  background-image: var(--gradient-bg);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-primary);
  font-weight: 410;
  font-variation-settings: "wght" 410;
}
.block {
  width: clamp(62px, 100%, 700px);
}
.header {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 327px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 49px;
  line-height: 100%;
  vertical-align: bottom;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
}
.main__list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.list-item {
  border: 1px solid black;
}
.list-item__title {
  padding: 4px 10px;
  background-color: #fff;
  border: 1px solid black;
}
.list__title {
  font-family: var(--font-primary);
  font-weight: 715;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
}
.card-wrapper {
  position: relative;
  margin-bottom: -5px;
}
.label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--stroke-color);
  text-shadow: -1px -1px 0 var(--stroke-color), 1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color), 1px 1px 0 var(--stroke-color);
}
@supports (-webkit-text-stroke: 1px black) {
  .label {
    -webkit-text-stroke: 1px var(--stroke-color);
  }
}
.list-item__text {
  position: relative;
  background-color: #fff;
  border: 1px solid black;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
}
.list__text {
  font-family: var(--font-primary);
  font-weight: 410;
  font-size: 18px;
  line-height: 21px;
}
.memories {
  font-family: var(--font-primary);
  font-weight: 410;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 25px;
}
.list__text,
.memories {
  margin-bottom: 25px;
}
.buttons {
  display: flex;
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.card__icon-button {
  background-color: transparent;
  border: none;
}
.card__like-button {
  background-color: #fff;
  padding: 12.5px 37px;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}
.block__saving {
  margin-top: 50px;
}
.save {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 17px 20px;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  vertical-align: middle;
  border: 1px solid black;
}
.button__text__save {
  display: flex;
  flex-direction: column;
}
.icon__dicseta {
  margin: 0 auto;
  margin-bottom: 8px;
  mix-blend-mode: difference;
  filter: invert(1);
}
.btn-action {
  position: relative;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  background: white; /**/
}
.btn-action::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transform: scaleX(0); /* Начальное состояние: сжат по горизонтали */
  transform-origin: left; /* Точка трансформации — левый край */
  transition: transform 0.5s ease-in-out; /* Параметры перехода */
  z-index: 1; /* юыло 0*/
}
.btn-action:hover::before {
  transform: scaleX(1);
}
.btn-action:focus {
  outline: none;
  box-shadow: 2px 2px 0px black;
}
.button__text {
  position: relative;
  z-index: 2; /* Выше псевдоэлемента */
  color: #fff;
  mix-blend-mode: difference;
}

.like-icon {
  transition: outline 0.3s ease, height 0.3s ease;
  outline: none;
}
.like-icon:focus {
  outline: none;
}
.like-icon:focus-visible {
  outline: 2px solid black;
}
.contour {
  transition: fill 0.1s linear;
}

/* Основное тело — медленный переход (0.3s), без задержки */
.main-body {
  transition: fill 0.3s linear 0.05s;
}

/* Сердцевина — медленный переход (0.3s) с задержкой (0.03s) */
.core {
  transition: fill 0.3s linear;
}
.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--contour-color); /* Цвет акцентного состояния */
}

.like-icon:hover .main-body {
  fill: var(--contour-color); /* Цвет основного тела */
}

.like-icon:active .main-body,
.like-icon:active .core {
  fill: var(--animation-fill-color); /* красный цвет */
}

.like-icon.is-liked .heart {
  animation: scaleHeart 0.3s ease-in 0.1s forwards;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparkle 0.3s ease-in 0.3 forwards;
}

.dialog {
  width: 341px;
  height: 191px;
  padding: 30px 40px;
  overflow: hidden;
}
.insert {
  display: flex;
  gap: 20px;
}
.insert__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}
.button__ok {
  background-color: transparent;
  border: 1px solid black;
  padding: 12.5px 116.5px;
  margin-top: 30px;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
}
@keyframes scaleHeart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media (width >= 768px) {
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main__list {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .button__text__save {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .icon__dicseta {
    margin-right: 8px;
  }
}
